{#  -*- coding: utf-8 -*- #}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% macro html_headstart() %}
<!DOCTYPE html>
<html \
    prefix='
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
        {% if comment_system == 'facebook' %}
            fb: http://ogp.me/ns/fb#
        {% endif %}
    ' \
    vocab="http://ogp.me/ns" \
{% if is_rtl %}
    dir="rtl"
{% endif %}

lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    {% if description %}
        <meta name="description" content="{{ description|e }}">
    {% endif %}
    <meta name="viewport" content="width=device-width">
    {% if title == blog_title %}
        <title>{{ blog_title|e }}</title>
    {% else %}
        <title>{{ title|e }} | {{ blog_title|e }}</title>
    {% endif %}

    {{ html_stylesheets() }}
    <meta name="theme-color" content="{{ theme_color }}">
    {% if meta_generator_tag %}
        <meta name="generator" content="Nikola (getnikola.com)">
    {% endif %}
    {{ feeds_translations.head(classification=None, kind='index', other=False) }}
    <link rel="canonical" href="{{ abs_link(permalink) }}">

    {% if favicons %}
        {% for name, file, size in favicons %}
            <link rel="{{ name }}" href="{{ file }}" sizes="{{ size }}"/>
        {% endfor %}
    {% endif %}

    {% if comment_system == 'facebook' %}
        <meta property="fb:app_id" content="{{ comment_system_id }}">
    {% endif %}

    {% if prevlink %}
        <link rel="prev" href="{{ prevlink }}" type="text/html">
    {% endif %}
    {% if nextlink %}
        <link rel="next" href="{{ nextlink }}" type="text/html">
    {% endif %}

    {% if use_cdn %}
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
    {% else %}
        <!--[if lt IE 9]><script src="{{ url_replacer(permalink, '/assets/js/html5shiv-printshiv.min.js', lang, url_type) }}"></script><![endif]-->
    {% endif %}

    {{ extra_head_data }}
{% endmacro %}

{% macro late_load_js() %}
    {% if use_bundles %}
        <script src="/assets/js/all.js?version={{ assets_version }}"></script>
    {% else %}
        <script src="/assets/js/main.js?version={{ assets_version }}"></script>
    {% endif %}
    {% if date_fanciness != 0 %}
        {% if use_cdn %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js" crossorigin="anonymous"></script>
        {% else %}
            <script src="/assets/js/moment-with-locales.min.js"></script>
        {% endif %}
        {% if not use_bundles %}
            <script src="/assets/js/fancydates.js"></script>
        {% endif %}
    {% endif %}
    {{ social_buttons_code }}
{% endmacro %}

{% macro html_stylesheets() %}
    {% if use_bundles %}
        <link href="/assets/css/all.css?version={{ assets_version }}" rel="stylesheet" type="text/css">
    {% else %}
        <link href="/assets/css/rst_base.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/main.css?version={{ assets_version }}" rel="stylesheet" type="text/css">
        {% if has_custom_css %}
            <link href="/assets/css/custom.css?version={{ assets_version }}" rel="stylesheet" type="text/css">
        {% endif %}
    {% endif %}
    {% if needs_ipython_css %}
        <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
    {% endif %}
{% endmacro %}

{#  This function is deprecated; use feed_helper directly. #}
{% macro html_feedlinks() %}
    {{ feeds_translations.head(classification=None, kind='index', other=False) }}
{% endmacro %}

{% macro html_translations() %}
    <ul class="translations">
    {% for langname in translations|sort %}
        {% if langname != lang %}
            <li><a href="{{ abs_link(_link("root", None, langname)) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
